@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

@keyframes textChange {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.words {
    display: inline-block;
    height: 1.2em;
    overflow: hidden;
    position: relative;
    vertical-align: bottom;
}

.words::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        #000 10%,
        transparent 30%,
        transparent 70%,
        #000 90%
    );
    z-index: 2;
    pointer-events: none;
}

.word {
    display: block;
    height: 1.2em;
    color: #7749FF;
    padding-left: 6px;
    animation: spinWords 6s infinite;
}

@keyframes spinWords {
    10% {
        transform: translateY(-102%);
    }

    25% {
        transform: translateY(-100%);
    }

    35% {
        transform: translateY(-202%);
    }

    50% {
        transform: translateY(-200%);
    }

    60% {
        transform: translateY(-302%);
    }

    75% {
        transform: translateY(-300%);
    }

    85% {
        transform: translateY(-402%);
    }

    100% {
        transform: translateY(-400%);
    }
}